{% load admin_static %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>pyAS2 File Viewer</title>
    <META Http-Equiv="Pragma" Content="no-cache" />
    <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/pyas2.css" %}" />
</head>
{% load i18n %}
<body>
	{% if error_content %} 
		{{ error_content }} 
	{% else %}
		<div">
			<table border="1" cellpadding="3" cellspacing="0" >
			<tr>
			<td width="120px" align="center">{{ file_obj.type }}</td>
			<td width="400px" align="center">{{ file_obj.name }}</td>
			<td width="90px" align="center">{{ file_obj.direction }}</td>
			<td width="90px" align="center"><a href="?action=downl">{% trans 'Download' %}</a></td>
			<td width="90px">
					<div class="info" align="center">Headers
						<table>
						{% for key,value in file_obj.headers.items %}
							<tr><td>{% trans key %}</td><td>{{ value }}</td></tr>
						{% endfor %}
					</table>
				</div>
			</td>
			</tr>
			</table>
			<pre>{{ file_obj.content }}</pre>
			<hr/>
		</div>
	{% endif %}
</body>
</html>
