{% extends "admin/base.html" %}
{% load i18n static %}
{% block title %}
Message
{% endblock %}
{% block content %}
    <h1>Details of message {{message.message_id}}</h1>
    <table>
        <tr><td>{% trans 'Timestamp' %}</td><td class="nowrap">{{message.timestamp|date:"Y-m-d H:i:s"}}</td></tr>
        <tr><td>{% trans 'Status' %}</td><td>{{message.get_status_display}}</td></tr>
        <tr><td>{% trans 'Direction' %}</td><td>{{message.get_direction_display}}</td></tr>
        <tr><td>{% trans 'Organization' %}</td><td>{{message.organization}}</td></tr>
        <tr><td>{% trans 'Partner' %}</td><td>{{message.partner}}</td></tr>
        <tr>
            <td>{% trans 'Compressed' %}</td>
            <td>
                {% if message.compressed %}
                    <img src="{% static "admin/img/icon_success.gif" %}" style="width: 1em;"/>
                {% else %}
                    <img src="{% static "admin/img/icon_error.gif" %}" style="width: 1em;"/>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans 'Encrypted' %}</td>
            <td>
                {% if message.encrypted %}
                    <img src="{% static "admin/img/icon_success.gif" %}" style="width: 1em;"/>
                {% else %}
                    <img src="{% static "admin/img/icon_error.gif" %}" style="width: 1em;"/>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans 'Signed' %}</td>
            <td>
                {% if message.signed %}
                    <img src="{% static "admin/img/icon_success.gif" %}" style="width: 1em;"/>
                {% else %}
                    <img src="{% static "admin/img/icon_error.gif" %}" style="width: 1em;"/>
                {% endif %}
            </td>
        </tr>
	    <tr>
            <td>{% trans 'Payload' %}</td>
            <td class="nowrap">{% if message.payload %} <a target="_blank" href="{% url 'payload_view' message.message_id %}?action=this">{{message.payload}}</a>{% endif %}</td>
        </tr>
        <tr><td>{% trans 'MDN' %}</td><td class="nowrap">{% if message.mdn %}<a target="_blank" href="{% url 'mdn_view' message.mdn.message_id %}?action=this">{{message.mdn}}{% endif %}</td></tr>
    </table>
    <table id="pyas2table">
        <thead>
            <tr>
                <th><button class="pyas2header" >{% trans 'Timestamp' %}</button></th>
                <th><button class="pyas2header" >{% trans 'Status' %}</button></th>
                <th><button class="pyas2header" >{% trans 'Text' %}</button></th>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td class="nowrap">{{log.timestamp|date:"Y-m-d H:i:s"}}</td>
                <td>
                    {% if log.status == "S" %}
                        <img src="{% static "admin/img/icon_success.gif" %}" style="width: 1em;"/>
                    {% elif log.status == "E" %}
                        <img src="{% static "admin/img/icon_error.gif" %}" style="width: 1em;"/>
                    {% elif log.status == "W" %}
                        <img src="{% static "admin/img/icon_alert.gif" %}" style="width: 1em;"/>
                    {% endif %}
                </td>
                <td>{{log.text}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

