{% extends "admin/base.html" %}
{% load i18n static %}
{% block title %}
Messages
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/dataTables.jqueryui.min.css" %}" />
<script src="{% static "admin/js/jquery.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dataTables.jqueryui.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#messages').DataTable({
            "columnDefs": [
                { "searchable": false, "targets": [0,3,7,9] }
            ],
            "ordering": false,
            "pageLength": 25
        });
    } );
</script>
{% endblock %}
{% block content %}
<h1>Message List</h1>
    <table id="messages" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>{% trans 'Timestamp' %}</th>
                <th>{% trans 'Direction' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Message ID' %}</th>
                <th>{% trans 'Organization' %}</th>
                <th>{% trans 'Partner' %}</th>
                <th>{% trans 'Payload' %}</th>
                <th>{% trans 'MDN Mode' %}</th>
                <th>{% trans 'MDN' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for row in message_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    <div class="dropdown">
                        <img class="action" src="{% static "images/star.png" %}" />
                        <ul>
                            <li><button class="pyas2header" onclick="document.location.href='{% url "message_detail" row.message_id %}'; return false;" >{% trans 'View Detail' %}</button></li>
                            {% if row.payload %}
                                <li><button class="pyas2header" onclick="window.open('{% url 'payload_view' row.message_id %}?action=this'); return false;" >{% trans 'View Payload' %}</button></li>
                            {% endif %}
                            {% if row.mdn %}
                                <li><button class="pyas2header" onclick="window.open('{% url 'mdn_view' row.mdn.message_id %}?action=this'); return false;" >{% trans 'View MDN' %}</button></li>
                            {% endif %}
                            {% if row.status == "R" %} 
                            <li><button class="pyas2header" onclick="document.location.href='{% url 'cancelretries' row.message_id %}'; return false;">{% trans 'Cancel Retries' %}</button></li>
                            {% endif %}
                            {% if row.direction == 'OUT' %}
                            <li><button class="pyas2header" onclick="document.location.href='{% url "resendmessage" row.message_id %}'; return false;" >{% trans 'Resend as new message' %}</button></li>
                            {% endif %}
                        </ul>
                    </div>
                <td class="nowrap">{{row.timestamp|date:"Y-m-d H:i:s" }}</td>
                <td class="nowrap">{{row.get_direction_display}}</td>
                <td class="nowrap">
                    {% if row.status == "S" %}
                        <img src="{% static "admin/img/icon_success.gif" %}" style="width: 1em;"/>
                    {% elif row.status == "E" %}
                        <img src="{% static "admin/img/icon_error.gif" %}" style="width: 1em;"/>
                    {% elif row.status == "W" or row.status == "R" %}
                        <img src="{% static "admin/img/icon_alert.gif" %}" style="width: 1em;"/>
                    {% elif row.status == "P" %}
                        <img src="{% static "admin/img/icon_clock.gif" %}" style="width: 1em;"/>
                    {% elif row.status == "IP" %}
                        <img src="{% static "images/icon-pass.gif" %}" style="width: 1em;"/>
                    {% endif %}
                </td>
                <td class="nowrap"><a href="{% url "message_detail" row.message_id %}" class="pyas2link">{{row.message_id}}</a></td>
                <td class="nowrap">{{row.organization}}</td>
                <td class="nowrap">{{row.partner}}</td>
                <td class="nowrap">{% if row.payload %} <a target="_blank" href="{% url 'payload_view' row.message_id %}?action=this">View Payload</a>{% endif %}</td>
                <td class="nowrap">{{row.get_mdn_mode_display}}</td>
                <td class="nowrap">{% if row.mdn %}<a target="_blank" href="{% url 'mdn_view' row.mdn.message_id %}?action=this">View MDN{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

    
