{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}
Home
{% endblock %}
{% block content %}
<table id="about">
    <tr>
        <td>
        <h1>{% trans 'pyAS2 Global Settings' %}</h1>
        <a target="_blank" href="http://pyas2.readthedocs.org/">{% trans 'pyAS2 documentation' %}</a><br/>
        <a target="_blank" href="https://github.com/abhishek-ram/pyas2/issues">{% trans 'pyAS2 Issue Tracker' %}</a><br/>
        <br/>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>{% trans 'Current user' %}</td><td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>{% trans 'Last login' %}</td><td>{{ user.last_login|date:"Y-m-d G:i" }}</td>
    </tr>
    <tr>
        <td>Environment</td><td>{{ pyas2info.environment }}</td>
    </tr>
    <tr>
        <td>Port</td><td>{{ pyas2info.port }}</td>
    </tr>
    <tr>
        <td>Python Path</td><td>{{ pyas2info.python_path }}</td>
    </tr>
    <tr>
        <td>Manage.py Path</td><td>{{ pyas2info.managepy_path }}</td>
    </tr>
    <tr>
        <td>Base Data Dir</td><td>{{ pyas2info.root_dir }}</td>
    </tr>
    <tr>
        <td>ASYNC MDN Receive URL</td><td>{{ pyas2info.mdn_url }}</td>
    </tr>
    <tr>
        <td>ASYNC MDN Max Wait Mins</td><td>{{ pyas2info.async_mdn_wait }}</td>
    </tr>
    <tr>
        <td>Max Retries</td><td>{{ pyas2info.max_retries }}</td>
    </tr>
    <tr>
        <td>Log Folder</td><td>{{ pyas2info.log_dir }}</td>
    </tr>
    <tr>
        <td>Log Level</td><td>{{ pyas2info.log_level }}</td>
    </tr>
    <tr>
        <td>Log Console</td><td>{{ pyas2info.log_console }}</td>
    </tr>
    <tr>
        <td>Log Console Level</td><td>{{ pyas2info.log_console_level }}</td>
    </tr>
    <tr>
        <td>Max Archive Days</td><td>{{ pyas2info.max_arch_days }}</td>
    </tr>
</table>
{% endblock %}

