{% extends "admin/base.html" %}
{% load i18n static %}
{% block title %}
MDNs
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/dataTables.jqueryui.min.css" %}" />
<script src="{% static "admin/js/jquery.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dataTables.jqueryui.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#mdns').DataTable({
            "columnDefs": [
                { "searchable": false, "targets": [1,7] }
            ],
            "ordering": false,
            "pageLength": 25
        });
    } );
</script>
{% endblock %}
{% block content %}
    <h1>MDN List</h1>
    <table id="mdns">
        <thead>
            <tr>
                <th>{% trans 'Timestamp' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Message ID' %}</th>
                <th>{% trans 'Original Message ID' %}</th>
                <th>{% trans 'Organization' %}</th>
                <th>{% trans 'Partner' %}</th>
                <th>{% trans 'Mode' %}</th>
                <th>{% trans 'Signed' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in mdn_list %}
                {% if row.omessage %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td class="nowrap">{{row.timestamp|date:"Y-m-d H:i:s" }}</td>
                    <td class="nowrap">{{row.get_status_display}}</td>
                    <td class="nowrap"><a href="{% url "mdn_view" row.message_id %}?action=this" target="_blank" class="pyas2link">{{row.message_id}}</a></td>
                    <td class="nowrap"><a href="{% url "message_detail" row.omessage.message_id %}" target="_blank" class="pyas2link">{{row.omessage.message_id}}</a></td>
                    <td class="nowrap">{{row.omessage.organization}}</td>
                    <td class="nowrap">{{row.omessage.partner}}</td>
                    <td class="nowrap">{{row.omessage.get_mdn_mode_display}}</td>
                    <td class="nowrap">
                        {% if row.signed %}
                            <img src="{% static "admin/img/icon_success.gif" %}" style="width: 1em;"/>
                        {% else %}
                            <img src="{% static "admin/img/icon_error.gif" %}" style="width: 1em;"/>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

    
